*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/lifecycle/src/androidTest/
/lifecycle/src/test/
/.idea/
/app/src/androidTest/
/viewmodel/
/viewmodel/src/androidTest/
/viewmodel/src/androidTest/
/viewmodel/src/androidTest/
/livedata/src/androidTest/
/livedata/src/test/
/databinding/src/androidTest/
/databinding/src/test/
/databinding2/src/androidTest/
/databinding2/src/test/
/.
/databinding3/src/test/
/databinding3/src/androidTest/
